<nz-header>
    <nz-page-header [nzGhost]="true" class="app-header">

        <nz-page-header-title> {{translations.appName}} </nz-page-header-title>

        <nz-page-header-extra>
            <nz-select class="lang-selector" [(ngModel)]="selectedLang" (ngModelChange)="handleChangeLangAction($event)"
                nzSize="default">
                <nz-option *ngFor="let lang of allLangs" nzValue={{lang.key}} nzLabel={{lang.value}}></nz-option>
            </nz-select>
            <app-contact-button></app-contact-button>
        </nz-page-header-extra>
    </nz-page-header>
</nz-header>
