<app-main-title title={{translations.gallery.title}} [direction]="direction"></app-main-title>

<app-section-wrapper>
    <p nz-typography class="text">{{translations.gallery.description}}</p>

    <nz-image-group>
        <nz-row [nzGutter]="[8, 8]">
            <nz-col nzLg="8" nzMd="12" mzSm="12" nzSpan="12" *ngFor="let image of translations.gallery.images">
                <img nz-image [nzSrc]="buildImgPath(image.imgName)" alt={{image.title}} class="gallery-image" />
                <div class="description">{{image.title}}</div>
            </nz-col>
        </nz-row>
    </nz-image-group>

    <app-buttons mainActionText={{translations.gallery.action}}></app-buttons>
</app-section-wrapper>
