.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 32px;
}

.follow-wrapper {
    margin-top: 16px;
}

.gallery-image {
    max-width: 100%;
    height: 200px;
    cursor: pointer;
}
