<app-main-title title={{translations.gallery.title}} [direction]="direction"></app-main-title>


<app-section-wrapper>
    <p nz-typography>{{translations.gallery.description}}</p>

    <nz-image-group>
        <nz-row [nzGutter]="[8, 8]">
            <nz-col nzLg="8" nzMd="12" mzSm="12" nzSpan="24" *ngFor="let image of translations.gallery.images">
                <img nz-image [nzSrc]="buildImgPath(image.imgName)" alt={{image.title}} class="gallery-image" />
            </nz-col>
        </nz-row>
    </nz-image-group>

    <div class="buttons">
        <app-contact-button text={{translations.gallery.action}}></app-contact-button>
        <div class="follow-wrapper">
            <app-follow-button></app-follow-button>
        </div>
    </div>
</app-section-wrapper>
