<div class="jumbotron">
    <div class="content">
        <h1>{{ translations.jumbotron.title }}</h1>
        <h2>{{ translations.jumbotron.subtitle }}</h2>

        <div class="contact-wrapper">
            <app-contact-button></app-contact-button>
        </div>

        <div class="follow-wrapper">
            <app-follow-button></app-follow-button>
        </div>
    </div>

    <div class="bg"></div>
</div>

<app-section-wrapper>
    <div class="slogans">
        <app-slogan *ngFor="let slogan of translations.jumbotron.slogans" title={{slogan.title}}
            img={{buildSloganImagePath(slogan.imgName)}} />
    </div>
</app-section-wrapper>
