@white: #f0f2f5;
// @light-color: #F4F1DE;
@light-color: @white;
@dark-color: #3D405B;
@danger-color: #E07A5F;
@ok-color: #81B29A;
@medium-color: #F2CC8F;
@ok-color-l20: lighten(@ok-color, 20%);


@primary-color: @ok-color; // primary color for all components
@link-color: @dark-color; // link color
@success-color: @ok-color; // success state color
@warning-color: @danger-color; // warning state color
@error-color: @danger-color; // error state color
@font-size-base: 14px; // major text font size
@heading-color: @light-color; // heading text color
@text-color: @dark-color; // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color

@border-radius-base: 2px; // major border radius
@border-color-base: @dark-color; // major border color

@body-background: @light-color;

@layout-header-background: @dark-color;
@layout-header-color: @light-color;


@select-border-color: @light-color;
@select-item-selected-color: @dark-color;
@select-item-selected-bg: @ok-color-l20;
@select-item-active-bg: @ok-color-l20;
@select-background: @light-color;
@select-dropdown-bg: @light-color;

// https://github.com/ant-design/ant-design/blob/4.x-stable/components/style/themes/default.less
// https://coolors.co/palette/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
// https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25
