@light-color: #F4F1DE;
@dark-color: #3D405B;
@danger-color: #E07A5F;
@ok-color: #81B29A;
@light-dark-color: #F2CC8F;

@primary-color: @ok-color; // primary color for all components
@link-color: @dark-color; // link color
@success-color: @ok-color; // success state color
@warning-color: @danger-color; // warning state color
@error-color: @danger-color; // error state color
@font-size-base: 14px; // major text font size
@heading-color: white; // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color

@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color

@body-background: @light-color;

@layout-header-background: @dark-color;
@layout-header-color: @light-color;

// https://github.com/ant-design/ant-design/blob/4.x-stable/components/style/themes/default.less
// https://coolors.co/palette/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
// https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25
