@import "./theme.less";

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.parent-wh {
    width: 100%;
    height: 100%;
}

.gradient-image-layer {
    &:extend(.parent-wh);
    background: linear-gradient(90deg, @dark-color 60%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    opacity: 0.8;
    content: '',
}

.panel-image {
    &:extend(.img-bg);
    position: relative;

    &:after {
        &:extend(.gradient-image-layer);
        content: '',
    }
}
